.fullheight {
  height: calc(100vh - 66px);
}

.controls {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}